azure-cognitiveservices-speech==1.28.0  
boto3==1.24.28
Django==4.2.1
djangorestframework==3.14.0
dlib==19.24.2
ffmpeg==1.4
ffmpeg_python==0.2.0
fuzzywuzzy==0.18.0
gdown==4.7.1
google-cloud-speech==2.19.0
google-cloud-translate==3.11.1
gradio==3.35.2
iou==0.1.0
jiwer==3.0.2
langdetect==1.0.9
librosa==0.10.0.post2
lmdb==1.4.1
lpips==0.1.4
matplotlib==3.5.3
numba==0.57.0
numpy==1.21.5
openai==0.27.8
opencv_contrib_python==4.7.0.72
opencv-python==4.7.0.72
pandas==2.0.2
Pillow==9.5.0
pip==23.0.1
protobuf
PyAudio==0.2.13
pydub==0.25.1
PyYAML==6.0
rasa==3.5.11
rasa-sdk==3.5.1
requests==2.29.0
scipy==1.8.1
setuptools==67.8.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.0
wave==0.0.2