{% load static %}

<!DOCTYPE html>


<fieldset>
    <legend>Arabic-Voice-Interface-for-City-Operation-Center</legend>

    <head>
        <title>
            Arabic-Voice-Interface-for-City-Operation-Center
        </title>
        <link rel="stylesheet" href="{% static 'google_app/styles.css' %}">

    </head>

    <body>
        <div style="text-align: center;">
            <h2 class="animate-flicker" hidden>يرجي التحلي بالقليل من الصبر شكرا للانتظار</h2>
        </div>

        <!-- Just Record -->
        <h1>Speech to Text Live</h1>
        <form id="transcriptionFormRecord" action="{% url 'transcribe_audio' %}" method="post"
            enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Start Recording" id="record-button">
        </form>
        <textarea id="transcription-textarea" rows="4">{{ live_transcript }}</textarea>

        <br>

        <!-- Upload File -->
        <h1>Speech-to-Text Transcription From File</h1>

        <form id="transcriptionForm" action="{% url 'transcribe' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="audio">Upload Audio:</label>
            <input type="file" name="audio" id="audio" accept="audio/*" required><br>
            <input type="submit" value="Transcribe" id="transcribeButton">
        </form>

        <textarea rows="4">{{ transcript }}</textarea>

        <!-- Show Transcription -->
        {% if transcript or live_transcript %}

        <div style="text-align: center;">
            <video id="transcriptionVideo" width="500" autoplay controls>
                {% if enhance %}
                <source src="{% static 'enhancement/result_voice.mp4' %}" type="video/mp4">
                {% else %}
                <source src="{% static 'result_voice.mp4' %}" type="video/mp4">
                {% endif %}
                Your browser does not support the video tag.
            </video>
        </div>
        {% endif %}
    </body>

    <!-- Scripts -->
    <script src="{% static 'google_app/listener.js' %}"></script>
    <script src="{% static 'google_app/buttons.js' %}"></script>

</fieldset>