{% load static %}

<!DOCTYPE html>


<fieldset>
    <legend>Arabic-Voice-Interface-for-City-Operation-Center</legend>

    <head>
        <title>
            Arabic-Voice-Interface-for-City-Operation-Center
        </title>
        <link rel="stylesheet" href="{% static 'google_app/styles.css' %}">
    </head>

    <body>
        <!-- Just Record -->
        <h1>Speech to Text Live</h1>

        <form action="{% url 'transcribe_audio' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button id="record-button">Start Recording</button>
        </form>
        <textarea id="transcription-textarea" rows="4">{{ live_transcript }}</textarea>

        <br>

        <!-- Upload File -->
        <h1>Speech-to-Text Transcription From File</h1>

        <form action="{% url 'transcribe' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="audio">Upload Audio:</label>
            <input type="file" name="audio" id="audio" accept="audio/*" required><br>
            <input type="submit" value="Transcribe">
        </form>

        <!-- Show Transcription -->

        <textarea rows="4">{{ transcript }}</textarea>

        {% if transcript or live_transcript %}
        <div style="text-align: center;">
            <video width="500" autoplay controls>
                <source src="{% static 'enhancement/result_voice.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        {% endif %}

    </body>

    <!-- Scripts -->
    <script src="{% static 'google_app/listener.js' %}"></script>
</fieldset>